header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #d3d6da;
}

.menu-left img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.title {
  font-size: 30px;
  font-weight: bold;
  font-family: "DM Serif Text", serif;
}

.menu-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.menu-right img {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  cursor: pointer;
}

.subscribe {
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 20px;
  margin-left: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
